---
id: {{id}}
applies_to:
{{#each domains}}
  - {{id}}
{{/each}}
---

# {{title}}

{{paragraph_description}}

## Prerequisites

{{#each prereq_concepts}}
- Read [[concepts/{{id}}]]
{{/each}}

## Steps

{{#each steps}}
{{@index_plus_1}}. {{description}}
   - Files: {{files}}
   - Honor: {{#each invariants}}[[invariants/{{id}}]]{{#unless @last}}, {{/unless}}{{/each}}
{{/each}}

## Verify

{{verification_steps}}

## Common gotchas

{{gotchas}}
